@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.notiser {
  width: 100%;
  border-radius: 3px;
  text-align: center;
  color: white;
  padding: 15px 15px;
  font-size: 14px;
  font-family: 'Open Sans';
  margin-bottom: 10px;
  cursor: pointer;
}

.notiser.success {
  background-color: #95d209;
  border: 1px solid #fff;
  color: #fff;
}

.notiser.warning {
  background-color: #e79237;
  border: 1px solid #fff;
  color: #fff;
}

.notiser.basic {
  background-color: #95d209;
  border: 1px solid #fff;
  color: #fff;
}
.notiser.danger {
  background-color: #80031f;
  border: 1px solid #fff;
  color: #fff;
}
.notiser.info {
  background-color: #016cc8;
  border: 1px solid #fff;
  color: #fff;
}


