@charset "utf-8";
.specs-wrapper .specification-title {

font-family: 'Brandon Grotesque Bold';
font-size: 18px;
text-transform: uppercase;
margin: 3px 0;

}

    .specs-wrapper ul > li {

color: #000;
padding-top: 5px;
display: flex;
position: relative;

}

    .specs-wrapper ul > li > span {

    text-transform: uppercase;
    display: inline-block;
    color: #7b7b7b;
    flex: 1 0 50%;
    max-width: 50%;

}

    .specs-wrapper ul {

font-family: 'Brandon Grotesque Bold';
font-size: 12px;
list-style: none;
margin: 0;
padding: 0;

}
        
